body {
    font-family: Arial, sans-serif;
    
    background-color: white; /* */       
}

header {
    background-color: #800000;
    color: white;
    padding: 4rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav a {/*tabs*/
    color: white;
    text-decoration: none;
    
}

main {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.87); /* */
    
}

section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    text-align: center;    
   
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: .5rem;
    
}

input,
textarea {
    padding: 1.2rem;
    background: transparent;
    border: .1rem solid black;
}

textarea{
    height: 4rem;
}
button {
    width: 7rem;
    padding: 1rem;
    cursor: pointer;
    background: maroon;
    color:white;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    background-color:lightgray;
    padding-right: 1rem;
}


.image-pair {
    position: relative;
    width: 12rem; /* Adjust as needed */
    padding: 5rem;
}

.before-image,
.after-image {
    width: 17rem;
    display: block;
    border: .1rem solid black;
    border-radius: .5rem;
}

.after-image {
    position: absolute;
    top: 5rem;
    opacity: 0; /* Initially hide the after image */
    transition: opacity 0.3s ease;
}

.before-image{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.image-pair:hover .after-image {
    opacity: 1; /* Show after image on hover */
}
.image-pair:hover .before-image {
    opacity: 0;/* Remove before image on hover*/
}

